body {
    color: white;
    background: rgb(41, 39, 39);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
    }
    
    header {
    border-bottom: solid 2px rgb(222, 224, 54);
    padding: 20px;
    font-size: 32px;
    color: rgb(228, 200, 42);
    
    }
    
    .chamada {
    background: rgb(255, 255, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    }
    
    .chamada-texto {
    margin-right: 5%;
    }
    
    h1 {
    font-size: 80px;
    color: rgb(46, 46, 46);
    }
    
    p {
    font-size: 50px;
    color: rgb(235, 238, 82);
    }
    
    .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    }
    
    .categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    }
    
    .categoria-videos img {
    opacity: 0.5;
    height: 200px;
    }
    
    .categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(201, 223, 79);
    }
    
    .categoria h2 {
    color: rgb(228, 200, 42);
    }